<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Masterchief</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="/shared.css">
</head>
<body>
  <header class="no-padding">
      <nav>
        <ul></ul>
        <ul>
          <li><a  href="/">Home</a></li>
          <li><a  href="https://blog.lanekatris.com" target="_blank">Blog</a></li>
          <li><a href="/home">Masterchief</a></li>
        </ul>
        <ul></ul>
      </nav>
  </header>
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>
