<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Masterchief</title>
</head>
<body>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/">Home</a>
<!--      <a class="mr-5 hover:text-gray-900" href="/auth/logout">Logout</a>-->
      <a class="mr-5 hover:text-gray-900" href="https://blog.lanekatris.com" target="_blank">Blog</a>
      <a class="mr-5 hover:text-gray-900" href="/home">Masterchief</a>
    </nav>

  </div>
</header>
<main>


{{{body}}}
</main>
<script src="https://cdn.tailwindcss.com"></script>

</body>
</html>
