@model List<LkatEvent>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Events</h1>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <ol>
        @foreach (var lkatEvent in Model)
        {
            <li>@lkatEvent.Date - @lkatEvent.Name</li>
        }
    </ol>
</div>