---
import Layout from '../layouts/BlogPost.astro'
import BestImage from '../components/BestImage.astro'
import aboutImage from '../assets/me-dg-cart-troy-sunglasses.jpg'
import fireTower from '../assets/fire-tower.jpg'
import getFeed from '../getFeed'

const feed = await getFeed()
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>
	<div class="terminal-alert">You may gather that I like disc golf:</div>
	<BestImage image={aboutImage} width={300} alt="Lane and his son playing disc golf" />

	<h1>Professional</h1>
	<p>
		I&apos;m a software engineer. I care about delivering a product that gives value. Taking
		requirements and architecting solutions from a full stack perspective is my bread and butter.
		I&apos;m always trying to learn and be open minded.
		<br />
		<br />
		<a href="https://gitconnected.com/lanekatris/resume" target="_blank"> Resume </a>
	</p>
	<h1>Fun</h1>
	<p>
		I also enjoy <a href="/disc-golf">disc golf</a>, ultimate frisbee, rock climbing, paintball,
		basketball, etc. The vast majority of my activities are disc golf related.
	</p>

	<h1>Last 5 Podcasts Listened To</h1>

	<p>I was listening to the Modern Wisdom Podcast, I forget which episode</p>

	<!--<h1>West Virginia</h1>-->
	<!--<BestImage-->
	<!--	image={fireTower}-->
	<!--	width={400}-->
	<!--	alt="Atop a fire tower in Monongahela National Forest - June 2024"-->
	<!--/>-->
	<!--<br />-->
	<!--<p>-->
	<!--	I live in West Virginia. Although it may be a poor state and folks confuse it with &quot;western-->
	<!--	virginia&quot;... it is a beautiful place. Also, not a bad place to raise your children. To be-->
	<!--	fair though: I dream of Colorado a plenty.-->
	<!--</p>-->
</Layout>
