---
import Layout from '../layouts/BlogPost.astro'
---

<Layout title="Disc Golf" pubDate={new Date('August 08 2021')}>
	<p>
		My favorite sport is disc golf! Since I'm a software engineer I have to show and analyze my disc
		golf data 😉
	</p>
</Layout>
