---
import Layout from '../layouts/BlogPost.astro'
import pen from '../assets/f701-pen.png'
import BestImage from '../components/BestImage.astro'
import { getCollection } from 'astro:content'

const posts = (await getCollection('blog')).filter((post) => post.data.tags?.includes('edc'))
// todo: sort
// link to the article
console.log(posts)
---

<Layout title="My EDC" pubDate={new Date('January 04 2025')}>
	<!--# Current EDC - [Field Notes Notebook](/blog/notebooks) - F701 Pen - DIY Leather Wallet # Timeline-->
	<p>View all posts tagged with #edc <a href="/tags/edc">here</a></p>

	<h1>Timeline</h1>
	<div class="terminal-timeline">
		{
			posts.map((post) => (
				<div class="terminal-card">
					<header>{post.data.title}</header>
					<div>
						{post.data.description ?? <i>No description</i>}
						<br />
						<br />
						<p>
							<a href={'/blog/' + post.id}>View Post</a>
						</p>
					</div>
				</div>
			))
		}
		<div class="terminal-card">
			<header>2025-01-03 New Pen</header>
			<div>
				<BestImage image={pen} alt="F701 Pen. Source: Amazon.com" height={200} />
				Since I lost my [Everyman](https://www.amazon.com/dp/B0CNWJN7RV) pen I got this one for far cheaper:
				$10.
				<br />
				I'm using my typical ink in it, but it seems like it will do the job!
				<br />
				The click top isn't ideal for the pocket, but this one is harder to push. So I don't find it
				clicking unintentionally in my pocket.
			</div>
		</div>
	</div>
</Layout>
