---
import Layout from '../layouts/BlogPost.astro'
import { query } from '../../db.ts'

const rows = await query(`select *
											 from models.fitness_points
											 order by ddd desc`)
---

<Layout title="Fitness Points">
	{
		rows.map((row: any) => (
			<div>
				<div>
					<strong>{row.ddd.toLocaleDateString()}</strong>
				</div>
				{row.daily_total} Penalty: {row.penalty} Points(Running: {row.running_total})
			</div>
		))
	}
</Layout>
