---
import Layout from '../layouts/BlogPost.astro'
import Loadout, { type Props as LoadoutProps, type Gear } from '../components/Loadout.astro'
import { isDev } from '../utils'
import { query } from '../../db.ts'

const gear = (await query<Gear>(`select *
                        from noco.loadout `))

const volleyballGear = gear.filter((x) => x.tags?.includes('volleyball'))
const travelGear = gear.filter((x) => x.tags?.includes('travel'))
const dgGear = gear.filter((x) => x.tags?.includes('disc_golf'))
---

<Layout title="Loadouts" pubDate={new Date('2025-02-23')}>
	<div class="terminal-alert">
		This page shows what gear I like to use for an activity.
		{
			isDev() && (
				<a
					target="_blank"
					href="https://noco.lkat.io/dashboard/#/nc/p_egch5370h5zwqh/mo1znjjcmctjakc"
				>
					Edit
				</a>
			)
		}
	</div>
	<Loadout gear={dgGear} title="Disc Golf" />
	<Loadout gear={volleyballGear} title="Volleyball" />
	<Loadout gear={travelGear} title="Car Traveling" />
	<hr />
	<h4>Coming Soon:</h4>
	<ul>
		<li>Paintball</li>
	</ul>
</Layout>
