---
import Layout from '../layouts/BlogPost.astro'
---

<Layout title="Now Page" pubDate={new Date('February 08 2025')}>
	<b>Updated: 2025-02-08</b>
	<ul>
		<li><a href="/disc-golf">Disc Golf</a></li>
		<li>Gym Climbing</li>
		<li>Basketball</li>
	</ul>

	<b>Gardening</b>
	<p>I'm Helping my wife set up a garden with raised beds.</p>
	<i>(I'm not doing much of it, just helping)</i>
</Layout>
