// ---
// // import DOMPurify from 'dompurify';
// import {marked} from 'marked'
// import { query } from '../../db.ts'
//
// type Issue = {
// 	message: string
// }
//
// // Not using content collection since I want this refreshing on each page load
// const issues = (await query(`select * from models.issue `)) as Issue[]
// ---
//
// <!--<ol>-->
// 	{issues.map((issue) => <div set:html={marked(issue.message)}></div>)}
// <!--</ol>-->
