---
import { getCollection } from 'astro:content'
import { PRIMARY_COLOR } from '../consts'
import { renderGraph } from '../renderGraph'
import { type ChartConfiguration } from 'chart.js'

const initial: { [key: number]: number } = {}
const courses = await getCollection('discGolfCourses')
const stats: { [key: number]: number } = courses.reduce((prev, curr) => {
	prev[curr.data.yearEstablished] = (prev[curr.data.yearEstablished] || 0) + 1
	return prev
}, initial)

const configuration: ChartConfiguration = {
	type: 'line', // Chart type
	data: {
		labels: Object.keys(stats),
		datasets: [
			{
				label: 'New Courses',
				// backgroundColor: ['#ff6384', '#36a2eb', '#ffce56'],
				backgroundColor: [PRIMARY_COLOR], // todo: use the theme of my blog here
				data: Object.values(stats)
			}
		]
	},
	options: {
		responsive: false,
		plugins: {
			legend: { display: true }
		}
	}
}

const testImage = await renderGraph(600, 800, configuration)
---

<h1>hi</h1>
<img src={testImage} alt="Last 10 years" />
<details>
	<summary>All Years</summary>

	<p>Detailed content goes here …</p>
</details>
