<h1>Fitness Workflow</h1>
<label>Stretch #1 <input type="checkbox"</label>
<label>Stretch #2 <input type="checkbox"</label>
<h1>Video Workflow</h1>
<h1>Adventure workfkow</h1>
<p>
  blog, map, gps created, bucket list mark off
</p>
<h1>Disc Golf (name, number, ID, in db?)</h1>
