<section>
  <h1>Disc Golf Homepage</h1>
  <h3>Get Organized</h3>
  <p >You can add or view your discs. You can keep track of what is in your bag, lost, recently bough, models, etc.</p>
  <a class="mt-3 text-indigo-500 inline-flex items-center" href="/dg/discs">Get Organized</a>

  <h3>Courses</h3>
  <p>This is where you can upload your played rounds and keep track of courses you have played</p>
  <a class="mt-3 text-indigo-500 inline-flex items-center" href="/dg/courses">See Your History</a>

  <h3>Course Recommender</h3>
  <p>WIP</p>
  <a class="mt-3 text-indigo-500 inline-flex items-center" href="/dg/recommender">Help Me Out</a>

</section>
