version: "3.9"
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: dagster
      POSTGRES_PASSWORD: dagster
      POSTGRES_DB: dagster
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  dagster:
    image: dagster/dagster:latest
    environment:
      DAGSTER_HOME: /dagster_home
    volumes:
      - ./dagster_home:/dagster_home
      - ./dagster-quickstart:/workspace
    ports:
      - "3000:3000"
    command: ["dagster", "api", "grpc", "-h", "0.0.0.0", "-p", "4000"]
volumes:
  pgdata:

