<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Masterchief</title>
</head>
<body>
<h1>Climb Tracker</h1>
<form method="post" action="climb/climb-session-created">
  <input type="submit" value="New Session" />
</form>
<h2>Your Climbs ({{climbs.length}})</h2>
<ul>


{{#each climbs}}
  <li>{{this.date}} - <a href="climb/session/{{this.id}}">{{this.id}}</a></li>
{{/each}}
</ul>
</body>
</html>
