---
import { type CollectionEntry, getCollection } from 'astro:content'
import BlogPost from '../../layouts/BlogPost.astro'
import { render } from 'astro:content'
import Heading from '../../components/Heading.astro'

export async function getStaticPaths() {
	const notes = await getCollection('notes')
	return notes.map((post) => ({
		params: { id: post.id },
		props: post
	}))
}
type Props = CollectionEntry<'notes'>
const post = Astro.props
const { Content, headings, remarkPluginFrontmatter } = await render(post)

const rawDate = post.id.slice(0, 8)
const year = rawDate.slice(0, 4)
const month = rawDate.slice(4, 6)
const day = rawDate.slice(6, 8)
const pubDate = new Date(+year, +month, +day)
---

<BlogPost {...post.data} pubDate={pubDate}>
	{
		headings.length > 0 && (
			<h1>Table of Contents</h1>
			<ol class="terminal-toc">
				{headings.map((heading) => (
					<li>
						<a href={`#${heading.slug}`}>{heading.text}</a>
					</li>
				))}
			</ol>
		)
	}
	<Content components={{ h1: Heading }} />
	<hr />
	<a href="#">Back to Top</a>
</BlogPost>
