---
import { Image } from 'astro:assets'
import image from './troy_1000_books.jpg'
---


<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Troy's Website</title>
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
	/>
</head>
<body>
<h1>Troy's Website</h1>
<figure>
	<a href={image.src}>
		<Image
			src={image}
			alt="Troy getting his 1000 books award at age 4"
			width={300}
			sizes={`(max-width: 720px) 400px, (max-width: 1600px) 800px`}
		/>
	</a>
	<figcaption>Troy getting his 1000 books award at age 4</figcaption>
</figure>
His dad's <a href="https://lanekatris.com">website</a>
</body>
</html>
