:root {
    --primary: #d81b60;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.fixed {
    position: fixed;
}

.visible {
    visibility: visible;
}

.non-visible {
    visibility: hidden;
}

.width-30 {
    width: 30px;
}
