:root {
    --accent: #054998;
}

nav {
    justify-content: space-between;
    align-items:end;
}

nav .links {
    display: flex;
    gap: 1em;
}

.silk {
    font-family: "silkscreen", serif;
}

footer {
    margin-bottom:6rem;
}