---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Climb.Rest">
  <nav>
    <menu
      ><li class="selected"><a href="/">Climb.Rest</a></li>

      <li>
        <a href="/summersville-wv-climbing">Summersville</a>
      </li></menu
    >
  </nav>
  <main>
    <h1>Welcome!</h1>
    <p>
      Here are a few utilities and tidbits of information for the climbing
      🧗‍♀️community 🧗‍♂️ Right now all we have is one tool but swing by once in a
      while to see whats new 🤙
    </p>
    <br />
    <h1 class="mb-2">Tools</h1>
    <!--<h3>Summersville Status</h3>-->
    <!--<p>-->
    <!--  Let's you quickly know if you can hike out to Whipporwill for rope-->
    <!--  climbing-->
    <!--  <a href="/summersville-wv-climbing">View</a>-->
    <!--</p>-->
    <!--<h3>Route Finder</h3>-->
    <!--<p>-->
    <!--  A more powerful route finder than what the popular climbing sites have-->
    <!--</p>-->
    <div>
      <!--<br />-->
      <article>
        <header>
          <h1>
            <!--<img src="https://www.pokepedia.fr/images/c/c0/Miniature_0252_RS.gif" alt>-->
            Summersville Status
          </h1>
        </header>
        <p>
          Lets you quickly know if you can hike out to Whipporwill for rope
          climbing
        </p>
        <footer class="muted">
          <a href="/summersville-wv-climbing">View</a>
        </footer>
      </article>
      <article>
        <header>
          <h1>
            <!--<img src="https://www.pokepedia.fr/images/5/55/Miniature_0255_RS.gif" alt>-->
            Route Finder
          </h1>
        </header>
        <p>A powerful route finder than what the popular climbing sites have</p>
        <footer class="muted">Coming Soon!</footer>
      </article>
    </div>
  </main>
</Layout>
