---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Climb.Rest">
  <nav>
    <menu
      ><li class="selected"><a href="/">Climb.Rest</a></li>
      <li>
        <a href="/summersville-wv-climbing">Summersville</a>
      </li></menu
    >
  </nav>
  <main>
    <h1>Welcome!</h1>
    <p>
      Here are a few utilities and tidbits of information for the climbing
      🧗‍♀️community 🧗‍♂️ Right now all we have is one tool but swing by once in a
      while to see whats new 🤙
    </p>
    <br />
    <h1 class="mb-2">Tools</h1>
    <div>
      <article>
        <header>
          <h1>Summersville Status</h1>
        </header>
        <p>
          Lets you quickly know if you can hike out to Whipporwill for rope
          climbing
        </p>
        <footer class="muted">
          <a href="/summersville-wv-climbing">View</a>
        </footer>
      </article>
      <article>
        <header>
          <h1>Route Finder</h1>
        </header>
        <p>A powerful route finder than what the popular climbing sites have</p>
        <footer class="muted">Coming Soon!</footer>
      </article>
    </div>
  </main>
</Layout>
