/*Terminal.css overrides*/
img {
    width: unset;
    max-width: 100%;
    height: auto;
    /*border-radius: 5px;*/
    content-visibility: auto;
}

:root {
    /*--primary-color: #ff4f29; !* Replace with your desired color *!*/
    --primary-color: #074caa; /* Replace with your desired color */
}

@media (prefers-color-scheme: dark) {

    /*:root {*/
    /*    --primary-color: #1a95e0; !* Replace with your desired color *!*/
    /*}*/
    :root {
        --global-font-size: 15px;
        --global-line-height: 1.4em;
        --global-space: 10px;
        --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
        --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
        serif;
        --background-color: #222225;
        --page-width: 60em;
        --font-color: #e8e9ed;
        --invert-font-color: #222225;
        --secondary-color: #a3abba;
        --tertiary-color: #a3abba;
        --primary-color: #62c4ff;
        --error-color: #ff3c74;
        --progress-bar-background: #3f3f44;
        --progress-bar-fill: #62c4ff;
        --code-bg-color: #3f3f44;
        --input-style: solid;
        --display-h1-decoration: none;
    }
}