---
import { SITE_TITLE } from '../consts'
import CssToggle from './CssToggle.astro'
import Search from 'astro-pagefind/components/Search'
---

<header>
	<nav>
		<div class="terminal-nav">
			<div class="terminal-logo">
				<div class="logo terminal-prompt"><a href="/" class="no-style">Home</a></div>
			</div>
			<!--<nav class="terminal-menu">-->
			<!--	<ul>-->
			<!--		<li><a href="/blog">Blog</a></li>-->
			<!--		<li><a href="/now">Now</a></li>-->
			<!--		<li><a href="/about">About</a></li>-->
			<!--		<li>-->
			<!--			<a href="/rss.xml" style="display:flex;"-->
			<!--				><img alt="rss" src="/images/rss_2_0.png" />-->
			<!--			</a>-->
			<!--		</li>-->
			<!--		<li>-->
			<!--			<CssToggle />-->
			<!--		</li>-->
			<!--	</ul>-->
			<!--</nav>-->
			<!--<Search id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />-->
		</div>
	</nav>
</header>
