---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header>
	<nav>
		<!--<h2><a href="/">{SITE_TITLE}</a></h2>-->
		<!--<div class="internal-links">-->
		<!--	<HeaderLink href="/">Home</HeaderLink>-->
		<!--	<HeaderLink href="/blog">Blog</HeaderLink>-->
		<!--	<HeaderLink href="/about">About</HeaderLink>-->
		<!--	<HeaderLink href="/rss.xml">RSS</HeaderLink>-->
		<!--</div>-->
		<div class="terminal-nav">
			<div class="terminal-logo">
				<div class="logo terminal-prompt"><a href="/" class="no-style">{SITE_TITLE}</a></div>
			</div>
			<nav class="terminal-menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/rss.xml">RSS</a></li>
				</ul>
			</nav>
		</div>
	</nav>
</header>
