---
interface Props {
	title?: string;
}

const { title = "WV Volleyball" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
    <!-- Favicon from: https://www.flaticon.com/free-icon/volleyball_17230104?term=volleyball&page=1&position=1&origin=tag&related_id=17230104 -->
		<link rel="icon" type="image/png" href="/volleyball.png" sizes="32x32" />
		<meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">	
		<title>{title}</title>
	</head>
	<body>
		{Astro.url.pathname !== '/' && (
			<nav>
				<a href="/">Home</a>
			</nav>
		)}
    <slot/>
	</body>
  <footer>
    Created with ♥️ by <a href="https://lanekatris.com">Lane Katris</a> | <a href="https://github.com/lanekatris/monorepo/tree/main/software/volleyball">Source Code</a> | Updated on {new Date().toISOString().split('T')[0]}
  </footer>
</html>
