<div class="main container">
  <h1>Welcome to Masterchief</h1>

  <div class="card mb-3">
    <header class="card-header">Links</header>
    <div class="card-content">
      <div class="inner">
        <ul>
          <li><a href="/climb">Go Climbing</a></li>
          <li><a href="/dg">Throw Some Plastic</a></li>
          <li><a href="/events">Log Your Actions</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">Feed</header>
    <div class="card-contents">
      <div class="inner">
        <p>Timeline goes here</p>
        <ul>
          <li>EXAMPLE: NOTE - Halo Infinite runs like crap when you get it from the Microsoft store. Just install it via Steam</li>
          {{#each events}}
            {{#if this.name}}
              <li>{{this.type}}: {{this.date}} - {{this.name}}</li>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
