<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
<h1>Add Disc</h1>
<form method="post" action="{{postUrl}}">
  <label>Brand
    <input name="brand" autofocus/>
  </label>
  <label>Model
    <input name="model"/>
  </label>
  <label>Date
    <input name="date" />
  </label>
  <input type="submit" />
</form>
<h1>Your Discs</h1>
<ul>
  {{#each discs}}
    <li>{{this}}</li>
  {{/each}}
</ul>
</body>
</html>
