<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>
<body>
{{ discs }}
<h1>Add Disc</h1>
<form method="post">
  <label>Brand
    <input name="brand"/>
  </label>
  <label>Model
    <input name="model"/>
  </label>
  <label>Date
    <input name="date" />
  </label>
  <input type="submit" />
</form>
</body>
</html>
