---
import Layout from '../../layouts/BlogPost.astro'
---

<Layout title="Disc Golf" pubDate={new Date('August 08 2021')}>
	<p>
		My favorite sport is disc golf! Since I'm a software engineer I have to show and analyze my disc
		golf data 😉
	</p>
	todo: just a page to see your scorecards processed
	<p>
		<a href="/disc-golf/udisc-stat-previewer">View Udisc Stats</a>
	</p>
</Layout>
