#volumes:
#  homeassistant:

networks:
  gitea:
    external: false

services:
        #  astro:
        #    image: myregistry/blog
        #    container_name: astro
        #    restart: unless-stopped
        #    ports:
        #      - "4321:4321"
        #
        #
        #
  cloudflare-tunnel:
    image: cloudflare/cloudflared:latest # Or a specific version
    container_name: cloudflare-tunnel
    restart: unless-stopped
    environment:
      TUNNEL_TOKEN: ${CLOUDFLARE_TUNNEL_TOKEN} # Load from .env
    command: tunnel run
  watcher:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command:
      - --monitor-only
      - --interval=86400 # once a day
        #- --interval=300 # 5min
      - --notification-url=generic+http://web:3000/api/dump/watchtower_v1?token=${WEB_API_TOKEN}&headers=Content-Type=application/json
  search:
    image: searxng/searxng
    restart: unless-stopped
    container_name: search
    environment:
      - BASE_URL=http://server1.local:4500
    ports:
      - "4500:8080"
  obsidian:
    image: lscr.io/linuxserver/obsidian:1.7.4
    container_name: obsidian
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /bigboy/obsidian/config:/config
    ports:
      - "4445:3000"
    devices:
      - /dev/dri:/dev/dri
    shm_size: "1gb"
    restart: unless-stopped
  lkat:
    image: loonison101/lk:main
    restart: unless-stopped
#    pull_policy: always
    ports:
      - "4444:8080"
    command: ['server']

  web:
    image: loonison101/web
    container_name: web
    restart: unless-stopped
    pull_policy: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3333:3000"
    env_file:
      - .env
#  web-restarter:
#    image: docker:cli
#    volumes: ["/var/run/docker.sock:/var/run/docker.sock"]
#    command: ["/bin/sh", "-c", "while true; do sleep 30m; docker restart web; done"]
#    restart: unless-stopped
#watchtower:
#    image: containrrr/watchtower
#    command: web --interval 1800 --debug
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock

  nocodb:
    image: nocodb/nocodb:0.264.9
    ports:
      - "8080:8080"
    restart: unless-stopped
    volumes:
      - /bigboy/nocodb:/usr/app/data/
  #  homeassistant:
#    image: ghcr.io/home-assistant/home-assistant:stable
#    environment:
#      - TZ=US/Eastern
#    ports:
#      - 8123:8123
#    volumes:
#      - homeassistant:/config
#    restart: unless-stopped

  memos:
    image: neosmemo/memos:0.24.3
    restart: unless-stopped
    ports:
      - "5230:5230"
    volumes:
        - /bigboy/memos:/var/opt/memos
  minio:
    image: quay.io/minio/minio
    restart: unless-stopped
    command: ["server", "/data", "--console-address", ":9001"]
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - /bigboy/minio:/data

  postgrest:
    image: postgrest/postgrest:v12.2.0
    restart: always
    depends_on:
      - mydb
    environment:
      PGRST_DB_SCHEMA: models
      PGRST_DB_URI: postgres://lkat:${MY_POSTGRES_PASSWORD}@mydb:5432/neondb
      PGRST_DB_ANON_ROLE: web_anon
      PGRST_SERVER_PORT: 3000
    ports:
      - "3033:3000"


  mydb:
    image: postgres:18
    restart: always
    # https://forums.docker.com/t/mysterious-docker-issue-with-postgres/149898/3
    volumes:
      - /bigboy/postgres:/var/lib/postgresql/18/docker
    environment:
      POSTGRES_DB: public
      POSTGRES_USER: lkat
      POSTGRES_PASSWORD: ${MY_POSTGRES_PASSWORD}
    ports:
      - "5234:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10


  mydbbackup:
        container_name: my_db_dumper
        restart: always
        image: prodrigestivill/postgres-backup-local:18
        user: postgres:postgres
        environment:
                POSTGRES_HOST: mydb 
                POSTGRES_USER: lkat
                POSTGRES_PASSWORD: ${MY_POSTGRES_PASSWORD}
                POSTGRES_DB: neondb
                SCHEDULE: "@daily"
                POSTGRES_EXTRA_OPTS: '--clean --if-exists'
                BACKUP_DIR: /db_dumps
                BACKUP_ON_START: "TRUE"
        volumes:
                #- /bigboy/postgres/db_dumps:/db_dumps
                - /bigboy/postgres-backup:/db_dumps
        depends_on:
                - mydb


  kestra-postgres:
    image: postgres:15
    restart: always
    volumes:
      - /home/lane/kestra-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: kestra
      POSTGRES_USER: kestra
      POSTGRES_PASSWORD: ${KESTRA_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10

  kestra:
    image: kestra/kestra:latest-full
    restart: always
    pull_policy: always
    entrypoint: /bin/bash
    # Note that this is meant for development only. Refer to the documentation for production deployments of Kestra which runs without a root user.
    user: "root"
    command:
      - -c
      - /app/kestra server standalone --worker-thread=128
    volumes:
      - /home/lane/kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /tmp/kestra-wd:/tmp/kestra-wd
    environment:
      SECRET_KESTRA_WEB_API_TOKEN: ${KESTRA_WEB_API_TOKEN}
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://kestra-postgres:5432/kestra
            driverClassName: org.postgresql.Driver
            username: kestra
            password: ${KESTRA_PASSWORD}
        kestra:
          server:
            basic-auth:
              enabled: false
              username: admin
              password: kestra
          repository:
            type: postgres
          storage:
            type: local
            local:
              base-path: "/app/storage"
          queue:
            type: postgres
          tasks:
            tmp-dir:
              path: /tmp/kestra-wd/tmp
          url: http://localhost:8080/
    ports:
      - "8090:8080"
      - "8091:8081"
    depends_on:
      kestra-postgres:
        condition: service_started
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:2.23.0
    restart: always
    ports:
      - "13378:80"
    volumes:
      - /bigboy/audiobookshelf/audiobooks:/audiobooks
      - /bigboy/audiobookshelf/podcasts:/podcasts
      - /bigboy/audiobookshelf/config:/config
      - /bigboy/audiobookshelf/metadata:/metadata
    environment:
      - TZ=America/New_York
  gitea:
    image: docker.gitea.com/gitea:1.23.5
    container_name: gitea
    environment:
      - USER_UID=1000
      - USER_GID=1000
    restart: always
    networks:
      - gitea
    volumes:
      - /bigboy/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
  mazanoke:
    restart: always
    container_name: mazanoke
    image: ghcr.io/civilblur/mazanoke:latest
    ports:
      - "3474:80"
  it-tools:
    restart: always
    container_name: it-tools
    image: corentinth/it-tools:latest
    ports:
      - "3500:80"

  metabase:
    restart: always
    container_name: metabase
    image: metabase/metabase:v0.55.3.1
    environment:
      - MB_DB_FILE=/metabase-data/metabase.db
    volumes:
      - /bigboy/metabase:/metabase-data
    ports:
      - "3600:3000"
        # registry:
        #   image: registry:2
        #   restart: always
        #   ports:
        #     - "5000:5000"
        #   volumes:
        #     - /bigboy/docker-registry:/var/lib/registry
