---
interface Props {
  title: string;
}

const { title } = Astro.props;

import "@lowlighter/matcha/dist/matcha.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/img.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!--<link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />-->
  </head>
  <body>
    <slot />
    <footer class="mb-1">
      <small>© {new Date().getFullYear()} </small>
      <br />
      <small>
        Created with ❤️ by <a href="mailto:lanekatris@gmail.com">Lane Katris</a>
      </small>
      <br />
      <small>
        <a href="/colophon">Colophon</a>
      </small>
      <br />
      <small>
        <a
          href="https://github.com/lanekatris/monorepo/tree/climbrest-v2/software/climbrest"
          >Github</a
        >
      </small>
    </footer>
  </body>
  <style>
    :root {
      --ct-width: 700px;
    }
  </style>
</html>
