---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
  </head>
  <body>
    <slot />
    <footer class="flex center mt-1">
      Copyright © Climb.Rest {new Date().getFullYear()} | Created with ❤️ by
      <span class="ml-.5">
        <a href="mailto:lanekatris@gmail.com">Lane Katris</a>
      </span>
    </footer>
  </body>
  <style>
    :root {
      --ct-width: 700px;
    }
    //body {
    //  margin-bottom:30px;
    //}
    //footer {
    //  position: fixed;
    //  bottom: 0;
    //  left: 0;
    //  width: 100%;
    //}
    //footer {
    //
    //}
  </style>
</html>
