---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
  </head>
  <body>
    <slot />
    <footer>
      <small
        >© {new Date().getFullYear()}

        <div>
          Created with ❤️ by <a href="mailto:lanekatris@gmail.com"
            >Lane Katris</a
          >
        </div>
      </small>
    </footer>
  </body>
  <style>
    :root {
      --ct-width: 700px;
    }
  </style>
</html>
